body {
  text-align: left;
  background-color: white;
}

button {
  display:inline-block;
  margin: 6px 0;
  width:180px;
  height:120px:
}

form label,form input{
  display: inline-block;
  font-family : inherit;
  font-size   : 200%;
  text-align: left;
  width: 300px;
}

form fieldset legend {
  font-family : inherit;
  font-size   : 200%;
}

form fieldset {
  width:auto
}

h1 {
  background-color: #66ff99;
  font-family : inherit;
  font-size   : 300%;
  width: 400px
}


.row, fieldset {
  margin: 18px 0;
}
