.BasicInfoName label{
  font: ariel;
  font-size: 20px;
}
.BasicInfoName input[type="text"]{
  width: 100%;
  padding: 10px 0;
  margin: 10px 0;
  boxsizing: border-box;
  font-size: 20px;
}
.BasicInfoName input[type="text"]:focus {
  border:3px dotted #3ED152;
}

.BasicInfoBDay label{
  font: ariel;
  font-size: 20px;
}
.BasicInfoBDay input[type="date"]{
  width: 100%;
  padding: 10px 0;
  margin: 10px 0;
  boxsizing: border-box;
  font-size: 20px;
}
.BasicInfoBDay input[type="date"]:focus {
  border: 3px dotted #3ED152;
}

.BasicInfoADdress label{
  font: ariel;
  font-size: 20px;
}
.BasicInfoAddress input[type="text"]{
  width: 100%;
  padding: 10px 0;
  margin: 10px 0;
  boxsizing: border-box;
  font-size: 20px;
}
.BasicInfoAddress input[type="text"]:focus{
  border:3px dotted #3ED152;
}

.ContactInfoEmail label{
  font: ariel;
  font-size: 20px;
}
.ContactInfoEmail input[type="text"]{
  width: 100%;
  padding: 10px 0;
  margin: 10px 0;
  boxsizing: border-box;
  font-size: 20px;
}
.ContactInfoEmail input[type="text"]:focus{
  border: 3px dotted #3ED152;
}

.ContactInfoPhone label{
  font: ariel;
  font-size: 20px;
}
.ContactInfoPhone input[type="text"]{
  width: 100%;
  padding: 10px 0;
  margin: 10px 0;
  boxsizing: border-box;
  font-size: 20px;
}
.ContactInfoPhone input[type="text"]:focus{
  border: 3px dotted #3ED152;
}

fieldset {
  border: 3px dotted black;
}

input[type=submit]{
  padding: 5px 50px;
  background: white;
  border: 2px solid grey;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

legend {
  width: 160px;
  height: 20px;
  font-weight: bold;
}
